<?xml version="1.0"?>
<robot name="arduinobot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find protobot_description)/urdf/common_properties.xacro"/>
    <xacro:include filename="$(find protobot_description)/urdf/structure.xacro"/>
    <xacro:include filename="$(find protobot_description)/urdf/gazebo.xacro"/>

</robot>